<!DOCTYPE html>
<html>
<head>
  <title>Page 1</title>
</head>
<body>

<div class="header">
  <h2>Useful URLs</h2>
</div>
  <h1>Saved URLs</h1>
  <p>Below are the URLs you have saved:</p>
  <ul>
    <li>Minecraft: mc.niggerbaby.com</li>
    <li>Database: data.niggerbaby.com</li>
    <li>WebSite: www.niggerbaby.com</li>
    <li>ServerRM: wnts.niggerbaby.com</li>
  </ul>
<p><a href="/">Return to Home Page</a></p>
</body>
</html>
<style>
  .header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  h2 {
                  color: #fff;
      font-size: 24px;
      margin: 0 0 20px;
  }
</style>
