<!DOCTYPE html>
<html lang="en">
    <style>
    .header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    h2 {
                    color: #fff;
        font-size: 24px;
        margin: 0 0 20px;
    }
    </style>
<head>
    <div class="header">
        <h2>Storage Server </h2>
    </div>
    <title>Storage Server</title>
</head>
<body>
    <div class="content">
    <ul>
        <li>
            <img src="/static/img/file.png" alt="" width="25" height="25">
            <a href="http://file.niggerbaby.com">Access File</a>
        </li>
        <li>
            <img src="/static/img/panel.jpg" alt="" width="25" height="25">
            <a href="http://cloud.niggerbaby.com">Access Panel(Proxyed)</a>
        </li>
        <li>
            <img src="/static/img/Storage.png" alt="" width="25" height="25">
            <a href="https://data.niggerbaby.com">Redirect to Database</a>
    </ul>
    </div>

    <p><a href="/">Return to Home Page</a></p>
</body>
</html>
