<!DOCTYPE html>
<html lang="en">
    <style>
        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        h2 {
                        color: #fff;
            font-size: 24px;
            margin: 0 0 20px;
        }
    </style>
<head>
    <div class="header">
        <h2>File upload to /saves/</h2>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
<p><a href="/">Return to Home Page</a></p>
</body>
</html>